<Br>
<nav>

    <a href="/">HOME</a>
    <a href="/aboutme">About ME</a>
    <a href="/education">Education</a>
    <div id="indicator"></div>

</nav></br>
<br>
<div class="container">
    <div class="a" align="center">--EDUCATIONAL HISTORY--</div>
    {{#with myData.edu}}
    <span><b>Elementary school :</b> {{elem}}</span> <br>
    <span><b>Hight school :</b> {{high}}</span> <br>

    {{/with}}
    <br>
</div>