<Br>

<nav>

    <a href="/">HOME</a>
    <a href="/aboutme">About ME</a>
    <a href="/education">Education</a>
    <div id="indicator"></div>

</nav></br><br>

<div class="x" align="center">..HELLO..</div><br>
<div class="Y" align="center">..YOURMOTHERFUCKER..</div>